In [1]:
import requests

In [16]:
city = input("Enter city : ")
key = "1a4c4f306c55a790989a33c6b9d37973"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}"
page = requests.get(url)

Enter city : new york

In [17]:
page.status_code

200

In [18]:
page.headers['Content-Type']

'application/json; charset=utf-8'

In [19]:
data = page.json()

In [20]:
data

{'coord': {'lon': -73.99, 'lat': 40.73},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 306.75,
  'pressure': 1016,
  'humidity': 52,
  'temp_min': 304.82,
  'temp_max': 308.71},
 'visibility': 16093,
 'wind': {'speed': 3.1, 'deg': 220},
 'clouds': {'all': 1},
 'dt': 1564506065,
 'sys': {'type': 1,
  'id': 4610,
  'message': 0.0141,
  'country': 'US',
  'sunrise': 1564480222,
  'sunset': 1564532054},
 'timezone': -14400,
 'id': 5128581,
 'name': 'New York',
 'cod': 200}

In [21]:
print(*data.keys(),sep='\n')

coord
weather
base
main
visibility
wind
clouds
dt
sys
timezone
id
name
cod

In [22]:
data['name']

'New York'

In [23]:
data['wind']

{'speed': 3.1, 'deg': 220}

In [24]:
data['visibility']

16093

In [25]:
data['clouds']

{'all': 1}

In [26]:
data['weather']

[{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]

ss -tulpn # listing

In [28]:
import sqlite3 as sql

In [29]:
db = sql.connect("cities.db")

In [30]:
cursor = db.cursor()

In [31]:
cmd = "create table city(name varchar(100))"

In [32]:
cursor.execute(cmd)

In [34]:
db.commit()

In [35]:
cursor.close()

In [36]:
db.close()

<table>
    <tr>
        <td>City</td>    
        <td>Weather</td>
        <td>Description</td>
        <td>Wind Speed </td>
        <td>Wind Degree </td>
        <td> Clouds </td>
        <td> Visibility </td>
    </tr>
    <tr>
        <td>Jaipur</td>
        <td>clear</td>
        <td>all clear</td>
        <td> 66 </td>
        <td> 78 </td>
        <td> 5 </td>
        <td> 3000 </td>
 </table>